name: Tests
on:
  pull_request:
  push:
    branches:
      - master
concurrency:
  group: ci-tests-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  tests:
    runs-on: kvm
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
      - name: Run tests
        run: |
          docker build -t auroraboot:latest .
          sudo FIXTURE_CONFIG=$PWD/tests/fixtures/raw_disk.yaml go run github.com/onsi/ginkgo/v2/ginkgo -r -p --fail-fast --timeout=2h ./...